/* Estilos para móviles (por defecto) */
.mainContainer {
  width: 100%;
  padding: 1rem;
}

/* Media query para pantallas con un ancho mínimo de 768px (tablets y escritorios) */
@media (min-width: 768px) {
  .mainContainer {
    width: 70%; /* Ocupa el 70% del ancho */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
  }
}

/* El resto de tus clases */
.subheader {
  background-color: #90E0EF;
  height: 180px;
  width: 100%;
}

.iconContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.iconContainer ion-icon {
  font-size: 150px;
  color: #007bff;
  margin-top: -75px;
}

.businessInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
}

.businessInfo h1 {
  margin-top: -10px;
}

.businessInfo p {
  line-height: 0.8;
  margin-bottom: 2px;
}

.contenedorCentrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}